http {
    upstream myapp {
        {% for backend_server in groups['backend_servers'] %}
        server {{ backend_server }}:8080;
        {% endfor %}
    }

    server {
        listen 80;
        server_name myloadbalancer.example.com;

        location / {
            proxy_pass http://myapp;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
